fastapi
uvicorn
gunicorn
pydantic
python-dotenv
aiosqlite
psycopg[binary]
langgraph
langgraph-checkpoint-postgres
langgraph-checkpoint-sqlite
langchain-huggingface
langchain-core
langchain-groq
duckduckgo-search
ddgs
httpx
passlib[argon2]

# ML / Prediction dependencies
tensorflow-cpu==2.16.1
numpy
pandas
scikit-learn
vmdpy
yfinance
fastdtw
scipy
